<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/logo.png" alt="logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <!-- Begin Menu -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['', category.alias]">{{category.title}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" #addPost [routerLink]="['posts', 'add-post']">Add post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['', 'show-post']">show post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['me', 'bookmarks']">My bookmarks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['user', 'signin']">Sign in</a>
        </li>
        <li style="display: flex; justify-content: center; flex-direction: column; text-align: center; font-size: 20px;">
          <span><i nz-icon nzType="user" nzTheme="outline" style="color: #00000080;"></i></span>
        </li>
      </ul>
      <!-- End Menu -->

    </div>
  </div>
</nav>

<!-- End Nav
================================================== -->

<router-outlet></router-outlet>


<div class="footer">
  <p class="pull-left">
    Copyright &copy; 2019 MUM Megafeed
  </p>
  <p class="pull-right">
    MUM Megafeed Team Ogabek Yuldashov, Rustem Bayetov, Huan Wang
  </p>
  <div class="clearfix">
  </div>
</div>
