<div class="d-flex justify-content-center">

  <form nz-form [formGroup]="signupForm" class="login-form" (ngSubmit)="onFormSubmit()">
    <h1 class="sitetitle text-center">Sign Up</h1>

    <nz-form-item>
<!--      <nz-form-control nzErrorTip="{{emailError}}">-->
      <nz-form-control nzErrorTip="Email is invalid or in use">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="example@example.com"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input at least 6 character Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" minlength="6"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <!--<label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>-->
        <p class="text-danger text-center">{{errorMsg}}</p>
        <button nz-button class="login-form-button" [nzType]="'primary'">Sign Up</button>
        Or
        <a [routerLink]="['/', 'user', 'signin']">Sign In now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
