<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">{{categoryTitle}}</h1>
        <p class="lead">
            {{categoryDescription}}
        </p>
    </div>

    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Featured</span></h2>
        </div>
        <div class="card-columns listfeaturedtag">

            <app-list-post-featured [post]="post" *ngFor="let post of posts">
            </app-list-post-featured>
        </div>
    </section>

    <section class="recent-posts">
        <div class="section-title">
            <h2><span>All Stories</span></h2>
        </div>
        <div class="row card-columns listrecent">
            <div class="col-4" *ngFor="let post of posts">
                <app-list-post [post]="post">
                </app-list-post>
            </div>
        </div>
    </section>
</div>